/* CSS styles go here */
:root {
    --text-color: white;
    --primary-color: black;
    --secondary-color: #666666;
    --tertiary-color: #999999;
    --background-color: #131313;
    --button-color: #182c25;
    --button-hover-color: #455b55;
    --button-secondary-color: #306844;
    --button-tertiary-color: #2c4c3b;
    --button-quaternary-color: #1e453e;
}

body {
    height: 100%;
    background: linear-gradient(15deg, var(--primary-color), var(--background-color));
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: var(--text-color);
}

.main-content-container {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    min-height: 100vh;
}

.text-black {
    color: var(--text-color);
}

.card,
.modal-content {
    background-color: var(--secondary-color);
}

.modal-header,
.modal-footer {
    border: none;;
}

#back {
    background: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    padding: 0;
    margin-top: 8px;
    cursor: pointer;
    height: 30px;
}

.task {
    background-color: var(--button-quaternary-color);
    color: var(--text-color);
    font-weight: 600;

}

.task .card-body {
    margin-right: 2rem
}

.task.past-due {
    background-color: var(--button-secondary-color );
    color: var(--text-color);
    font-weight: 600;
}

.task.due-today {
    background-color: var(--button-tertiary-color);
    color: var(--text-color);
    font-weight: 600;
}

.task.archived {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 600;
}

.past-due .due-date {
    animation: blink 3s infinite;
}

.tasks-content {
    min-height: 300px;
}

.button-container {
    width: 50px;
}

.task-button {
    transition: .1s ease;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    right: 0;
    margin: 1rem;
    position: absolute;
}

.restore-button,
.edit-button {
    margin-top: 3.5rem;
    margin-right: 1rem;
}

.menu-button {
    transition: .1s ease;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.menu-button:hover {
    transform: scale(1.1);
}

.menu-button:hover svg {
    transform: scale(0.909);
}

#task-due-date {
    cursor: pointer;
}

.blink {
    animation: blink 1s infinite;
}

.title-container {
    min-height: 68px;
}

.description-container {
    height: 10px;
    margin-bottom: 12px;
    transition: 1.5s;
}

/* could use some media query to make it responsive */
.description-container.active {
    height: 60px;
}

.typing-effect {
    display: none;
}

.form-text {
    color: var(--text-color);
}

.info-button {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
}

.info-button:hover,
.info-button:focus {
    background-color: var(--secondary-color);
}

.form-control {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: none;
}

.form-control:focus {
    background-color: var(--tertiary-color);
    color: var(--text-color);
}

.form-control::placeholder {
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    font-weight: 600;
    transition: .1s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--button-hover-color);
    color: var(--text-color);
}

.btn-secondary {
    background-color: var(--button-secondary-color);
    border: none;
    color: var(--text-color);
    font-weight: 600;
    transition: .1s ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--button-tertiary-color);
    color: var(--text-color);
}

.btn-tertiary {
    background-color: var(--button-tertiary-color);
    border: none;
    color: var(--text-color);
    font-weight: 600;
    transition: .1s ease;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    background-color: var(--button-quaternary-color);
    color: var(--text-color);
}

.btn-quaternary {
    background-color: var(--button-quaternary-color);
    border: none;
    color: var(--text-color);
    font-weight: 600;
    transition: .1s ease;
}

.btn-quaternary:hover,
.btn-quaternary:focus {
    background-color: var(--button-tertiary-color);
    color: var(--text-color);
}

.welcome-box {
    gap: 20px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
